.topbar{
    top: 0px;
    width: 100%;
    height: 5px;
    background-color: #f0c43f;
    z-index: 2;
}

.navigation{
    display: flex;
    border: 2px solid #bbbbbf;
    height: 55px;
}

.mcdonaldsicon{
    margin-left: 202px;
    z-index: 1;
}

#burguermenu{
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
    margin-top: 15px;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f0c43f;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}

#burguermenu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#burguermenu:checked + label span:nth-child(2){
    opacity: 0;
}   

#burguermenu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}

#burguermenu:checked ~ .items-menu{
    opacity: 100;
}

.items-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.header-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 5px;
    left: 270px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    height: 30px;
    border-right: 1px solid #bbbbbf;
}

.header-items img{
    width: 25%;
    padding-right: 3px;
}

.header-items a{
    text-decoration: none;
    color: black;
}

.mcdelivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 5px;
    left: 270px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    border-left: 1px solid #bbbbbf;
}

.banner img{
    width: 100%;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

.main h2{
    font-size: 40px;
    margin-bottom: 100px;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.day-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding-right: 30px;
}

.day-items img{
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 15px 30px black;
}

.day-items h3{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.day-items p{
    font-size: 18px;
}

.contact{
    
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: silver;
    align-items: center;
    height: 50px;
}

.contact p{ 
    padding: 0px 10px;
}

.contact img{
    padding-right: 30px;
}

.address{
    
    display: flex;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #414141;
    align-items: center;
    height: 80px;
    color: white;
}

.address h4{
    width: 50%;
    padding: 0px 10px;
    left: 200px;
}

.address p{
    padding-right: 40px;
    font-size: 13px;
}

@media only screen and (max-width: 1180px){

     .mcdonaldsicon{
        margin-left: 50px;
    }
    
}

@media only screen and (max-width: 1000px){
    .items{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .day-items{
        width: 90%;
        margin-bottom: 30px;
        padding-right: 0px;
    }

    .contact{
        display: flex;
        justify-content: center;
        padding-right: 0px;
    }

    .contact p{
        padding-right: 0px;
    }

    .contact img{
        padding-right: 0px;
    }
    
    .address{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .address h4{
        padding-right: 0px;
        font-size: 10px;
        width: 70%;
    }

    .address p{
        padding-right: 0px;
        font-size: 10px;
    }

    .items-menu{
        display: flex;
        flex-direction: column;
        height: 280px;
        justify-content: space-around;
        background-color: white;
        z-index: 1;
        align-items: center;
    }

    .header-items, .mcdelivery {
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid #bbbbbf;
        width: 78%;
    }

    .mcdelivery{
        width: 90%;
    }

}

@media only screen and (min-width: 1180px){
    .items-menu{
        opacity: 100;
    }

    label{
        display: none;
    }
}

